.Item{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 40%;
}

h1 {
    color: #021646;
}

h1:hover{
    color: #707E87;
}

h1:active {
    color: rgb(172, 201, 199);
}
