.Pages{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 40%;
}

.Back{
    float: center;
    text-align: center;
}

.Pages .theLink {
    font-size: 30px;
    background: none;
    color: yellow;
}

h1:active {
    color: #021646;
}

h1:hover{
    color: #707E87;
}

h1 {
    font-size: 25px;
    color: rgb(172, 201, 199);
}

html {
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
    background-blend-mode: multiply,multiply;
    min-height: 200vh;
}

p {
    margin-right: 100px;
    margin-left: 100px;
}